<nav class="navbar">
    <div class="container">
        <a href="/" class="nav-logo">
            <img src="/image/LOGO.png" alt="Logo">
        </a>
        
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/disciplinas">Disciplinas</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>

        <a href="/contato" class="nav-contact">Contato</a>
    </div>
</nav>