<nav class="navbar">
    <div class="container">
        <img src="/image/LOGO.png" alt="Logo">
        
        <div class="navigation-links"> 
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/disciplinas">Disciplinas</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <ul class="ctt">
                <li><a href="/contato">Contato</a></li>
            </ul>
        </div>

    </div>
</nav>