<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">Meu Logo</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </div>
</nav>