<%- include('../partials/header') %>

<section class="page-title">
    <h1>Minhas Disciplinas</h1>
    <p>Os pilares do meu conhecimento técnico e teórico.</p>
</section>

<section class="add-project-section">
    <a href="/disciplinas/nova" class="btn-add">Adicionar Nova Disciplina</a>
</section>

<div class="disciplinas-grid">
    <% disciplinas.forEach(disciplina => { %>
        <div class="disciplina-card">
            <%= disciplina %>
        </div>
    <% }) %>
</div>

<%- include('../partials/footer') %>