<%- include('../partials/header') %>

<section class="page-title">
    <h1>
        Sobre Mim
    </h1>
    <p>
       Me chamo João Moura, estou no segundo semestre do curso de Desenvolvimento de Software Multiplataforma na FATEC SJC. 
    </p>
    <p>
        HTML5, CSS, JS, REACT NATIVE, PYTHON, NODEJS
    </p>
</section>

<%- include('../partials/footer') %>