<%- include('../partials/header') %>

<section class="about-section">

    <div class="about-text">
        <h1>Sobre Mim</h1>
        
        <% estudante.descricao.forEach(paragrafo => { %>
            <p><%= paragrafo %></p>
        <% }) %>
    </div>

    <div class="about-formations">
        <h2>Formação Acadêmica</h2>
        <ul>
            <% estudante.formacao.forEach(item => { %>
                <li><%= item %></li>
            <% }) %>
        </ul>
    </div>

</section>

<%- include('../partials/footer') %>